*{
    margin: 0;
    padding: 0;
}


body{
    background-color: rgb(39, 58, 74);
}

.first p{
    font-family: sans-serif;
    color: rgb(28, 225, 120);
    text-align: center;
    font-size: 80px;
    margin-top: 50px;
    
}

.second{
    max-width: 80vw;
    margin: 50px auto;
    display: flex;
    justify-content: space-around;
    column-gap: 40px;
    padding: 20px;
}


.players{
    font-family: sans-serif;
    color: rgb(28, 225, 120);
    font-size: 32px;
    padding-bottom: 20px;
    text-align: center;
}

.players p{
    padding-bottom: 20px;
}


.box{
    display: flex;
    justify-content: space-evenly;
    column-gap: 20px;
}


.dice{
    /* border: 2px solid black; */
    background-color: red;
    border-radius: 5px;
    height: 200px;
    width: 200px;
    /* position: relative; */
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    justify-items: center;
}


.num{
    height: 45px;
    width: 45px;
    border-radius: 50%;
    background-color: white;
    margin: auto;
    color: black;
}


/* Responsiveness */
@media only screen and (max-width: 720px) {
    .first p{
        font-size: 40px;
    }

    .dice{
        height: 150px;
        width: 150px;
    }

    .num{
        height: 40px;
        width: 40px;
    }

    .second{
        max-width: 100vw;
        margin: auto;
        column-gap: 0;
    }
}



